<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/Layout.html :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>Table Cart</h2>
    <a>Cart</a>
    <a th:text="${name_client}"></a>
    <table class="table table-dark">
        <thead>
        <tr>
            <a th:href="@{/product}">ComeBack HomePage</a>
        </tr>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Inventory</th>
            <th>Price</th>
            <th>Describe</th>
            <th>Quantity Sold</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${list}">
            <td th:text="${item.getId()}"></td>
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getInventory()}"></td>
            <td th:text="${item.getPrice()}"></td>
            <td th:text="${item.getDescribeProduct()}"></td>
            <td th:text="${item.getQuantity_sold()}"></td>
            <td><a th:href="@{/cart/remove/{id}(id=${item.id})}">Remove</a></td>
        </tr>
        <tr>
            <td colspan="7"><a th:href="@{/cart/buy}">
                <button>Buy</button>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>